*{
    margin:0;
  }
  header{
    text-align: center;
    padding:20px;
    background-color:black;
    color:white;
  }
  nav > a {
    text-decoration: none;
    
    padding-left: 20px;
    padding-right:20px;
    
    color:rgba(177, 59, 59, 0.822);
  }
  
  .welcome-container{
    text-align: center;
    background-color: #FFDDCC);
    padding:30px;
  }
  .welcome-container > a{
    text-decoration: none;
    color:black;
    padding-top:40px;
    padding-top:30px;
    
  }
  
  
  .img-container{
    text-align: center;
    padding-top:40px;
    
  }
  
  footer > nav{
    text-align: center;
    background-color:black;
    padding:40px;
    
  }
  
  
  
  
  